#ortotechModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Ortotech
      .modal-body
        %ul.nav.nav-pills.ortotech
          %li.about.active
            %a{"data-toggle" => "pill", :href => "#about"} O nás
          %li.videos
            %a{"data-toggle" => "pill", :href => "#videos"} Videa
          %li.contacts
            %a{"data-toggle" => "pill", :href => "#contacts"} Kontakty

        %hr.blue

        .tab-content
          #about.tab-pane.fade.in.active
            %center
              %h2 O nás
            %hr.blue
            .container.about
              .row
                .col-md-10.col-md-offset-1
                  %p Vitajte v spoločnosti Ortotech spol. s r.o. Banská Bystrica. Poskytujeme komplexné služby v oblasti ortopédie, protetiky, rehabilitácie, predaj seriových zdravotníckych pomôcok a výroba individuálnych ortopedicko-protetických zdravotníckych pomôcok (katalóg produktov tu). Naša spoločnosť vznikla v roku 1994 a začínali sme výrobou protéz dolných a horných končatín, v menšej miere ortéz trupu. Ortotech v priebehu rokov rozšíril rady zamestnancov a v súčasnej dobe vyrábame kompletný sortiment zdravotníckych pomôcok priamo na mieru pacientovi. Naše služby sme rozšírili aj o ambulantnú starostlivosť v oblasti ortopédie a ortopedickej protetiky, ako aj rehabilitáciu.
                  %center
                    %img{:src=>"images/firma1.png"}
                  %p Uvedomujeme si, aká je dôležitá spokojnosť nášho zákazníka a preto v snahe zabezpečiť čo najvyššiu kvalitu výroby, sme v našej spoločnosti zaviedli systém manažérstva kvality ISO 9001:2000, a to nielen vo výrobnej časti firmy, ale aj v ambulantnej, čím chceme zabezpečiť Vašu maximálnu spokojnosť. Vo viacerých mestách na Slovensku máme zriadené merné miesta (nájdete na spodku stránky), kde naši pracovníci odoberajú miery, aby sme sprístupnili naše služby a skrátili termíny vyhotovenia pomôcok.
                  %center
                    %img{:src=>"images/firma2.png"}
                  %p V súčasnej dobe naša spoločnosť už sídli vo svojich vlastných priestoroch, kde Vám po celkovej rekonštrukcii budovy, sú poskytované komplexné služby v nadštandardnej starostlivosti. Tešíme sa za Vašu návštevu a veríme, že budete od nás odchádzať spokojný.

          #videos.tab-pane.fade
            %center
              %h2 Prezentačné video spoločnosti Ortotech
            %hr.blue
            / %video#presentation-vid.video-js.vjs-default-skin.vjs-big-play-centered{:"data-setup"=>'{"example_option":true}',:preload=>"auto", :width=>640, :height=>480, :controls=>"",:poster=>"images/presentation.png"}
            /   %source{:src => "/images/presentation.webm", :type => "video/webm"}/
            %video#presentation-vid{:preload=>"auto", :width=>640, :height=>480, :controls=>"",:poster=>"images/presentation.png"}
              %source{:src => "/images/presentation.webm", :type => "video/webm"}

          #contacts.tab-pane.fade
            %center
              %h2 Organizačný prehľad pracovísk
              %h2 ORTOTECH / ORTOREHA
            %hr.blue
            .container.contacts
              .row
                .col-md-10.col-md-offset-1
                  .section
                    .name.big Recepcia
                    %ul.list
                      %li
                        .name &nbsp
                        .phone 0904 744 962
                      %li
                        .name &nbsp
                        .phone 0917 222 900
                      %li
                        .name &nbsp
                        .phone 0905 500 750
                  %hr.blue

                  .section
                    .name.big Ortopedicko-protetická ambulancia
                    %ul.list
                      %li
                        .name &nbsp
                        .phone MUDr. Konderová Stela
                  %hr.blue

                  .section
                    .name.big Ortopedické ambulancie
                    %ul.list
                      %li
                        .name &nbsp
                        .phone MUDr. Sopko Marek
                      %li
                        .name &nbsp
                        .phone MUDr. Lizáková Dagmar
                      %li
                        .name &nbsp
                        .phone MUDr. Uhrinová Adriana
                      %li
                        .name &nbsp
                        .phone MUDr. Hudec Andrej
                      %li
                        .name &nbsp
                        .phone MUDr. Baláž Marian
                  %hr.blue

                  .section
                    .name.big Rehabilitačná ambulancia
                    %ul.list
                      %li
                        .name &nbsp
                        .phone 0917 222 898
                  %hr.blue

                  .section
                    .name.big Výroba ortopedických pomôcok
                    %ul.list
                      %li
                        .name Oddelenie bandážnych ortéz
                        .phone 0905 744 963
                      %li
                        .name Oddelenie nebandážnych ortéz
                        .phone 0905 240 327
                      %li
                        .name Oddelenie protéz
                        .phone 0908 733 949
                      %li.no-dot
                        .name &nbsp
                        .phone 0905 266 181
                      %li
                        .name Oddelenie ortopedickej obuvi
                        .phone 0905 240 327
                  %hr.blue

                  .section
                    .name.big Materiálno technické zabezpečenie
                    %ul.list
                      %li
                        .name &nbsp
                        .phone 0905 960 260
                      %li
                        .name &nbsp
                        .phone 0907 834 389
                      / %li.no-dot
                      /   .name Ing. Žabka
                      /   .phone
                    %br
                  %hr.blue

                  .section
                    .name.big Ekonomický úsek
                    %ul.list
                      %li
                        .name &nbsp
                        .phone 0917 161 999
                      %li
                        .name &nbsp
                        .phone 0917 222 899

            %hr.blue
            .row
              .col-md-6
                %center.main-contacts
                  %h2.main Kontakt
                  %h3.fax Web: www.ortotech.sk
                  %h3.mail Mail: ortotech@ortotech.sk

              .col-md-6
                %center.main-adress
                  %h2.main Adresa
                  %h3.name Ortotech, spol. s.r.o.
                  %h3.street Nám. L. Svobodu č.1
                  %h3.city 975 17 Banská Bystrica






      .modal-footer
        %button.btn.btn-lg.btn-close{"data-dismiss" => "modal", :type => "button"} Zavrieť